stages:
  - test

unit-test-job:
  stage: test
  image: python:3.9
  script:
    - echo "Running unit tests..."
    - pip install -r requirements.txt
    - pip install pytest
    - pytest ./tests/test_unitaires.py
    - echo "Tests done."
