name: Unit Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  unit-test-job:
    runs-on: ubuntu-latest
    container:
      image: python:3.9
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: pytest ./tests/test_unitaires.py

      - name: Tests done
        run: echo "Tests done."